# frozen_string_literal: true

module <%= module_name %>
  class New < RageArch::UseCase::Base
    deps :<%= repo_symbol %>

    def call(_params = {})
      item = <%= repo_symbol %>.build({})
      success(<%= singular_name %>: item)
    end
  end
end
