# frozen_string_literal: true

# Dep for :<%= symbol_name %>.
# Methods detected from use cases: <%= @methods.join(', ') %>.
# Auto-registered by convention from app/deps/
module <%= module_name %>
  class <%= class_name %>
<% @methods.each do |method_name| -%>

    def <%= method_name %>(*args, **kwargs)
      # TODO: implement
      raise NotImplementedError, "<%= full_class_name %>#<%= method_name %>"
    end
<% end -%>
  end
end
