# frozen_string_literal: true

<%- if class_path.any? -%>
module <%= class_path.map(&:camelize).join('::') %>
<%- end -%>
class <%= file_name.camelize %> < RageArch::UseCase::Base
  use_case_symbol :<%= file_name %>

  deps # e.g. :order_store, :notifications

  def call(params = {})
    # TODO: implement use case logic
    RageArch::Result.success(params)
  end
end
<%- class_path.each do -%>
end
<%- end -%>
